<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />

    <title>Personally</title>

</head>
<body>

   <div class="uk-position-relative uk-light">
    <img src="images/1154171.jpg" alt="">



    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-text-danger" href="#">Tesla</a></li>
                    <li><a href="/">Home</a></li>
                    <li class="uk-active"><a href="/about">About</a></li>
                    <li><a href="/works">Works</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="uk-position-center uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="/images/Elon_Musk_Royal_Society_(crop1).jpg" alt="" width="20000" height="10000" uk-cover>
        <canvas width="300" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Elon Musk</h3>
            <p>Elon Reeve Musk (Pretoria, Sudáfrica; 28 de junio de 1971) es un emprendedor y magnate sudafricano, nacionalizado canadiense y estadounidense. Cofundador de PayPal, SpaceX, Hyperloop, SolarCity, The Boring Company, Neuralink y OpenAI. Es director general de SpaceX, de Tesla Motors, presidente de SolarCity y copresidente de OpenAI. Es una de las personas más ricas del mundo, según la revista Forbes</p>
        </div>
    </div>
</div>

</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</html>